extends layouts/default
include components/button-primary
include components/modal-add-page


block header 
  include parts/header-dashboard

block main
  +modal-add-page('add-page-popup')

  .accordion
    .accordion-item
      .accordion-header(id="headingOne")
        button.accordion-button(
          type="button"
          data-bs-toggle="collapse" 
          data-bs-target="#collapseOne"
          )
          h3 /
      div.accordion-collapse.collapse.show(id="collapseOne")
        .accordion-body.list-group.list-group-flush
          li.list-group-item.d-flex.justify-content-end
            button.btn.btn-primary.add-page(type="button" data-bs-toggle="modal" data-bs-target="#add-page-popup") Add Page
          ul.list-group.list-group-flush(id="base")
             include parts/page-table.pug


