extends layouts/default
include /admin/section-helper/includes
include /admin/section-helper/wrapper

block header 
  include parts/header-dashboard
  include /admin/section-helper/controller

block main

  form.accordion(id="pageForm")
    include /templates/default/admin
