footer.site-footer
  span © Nick Dolf
  a(href="https://github.com/nick-dolf")
    span github repo
    svg(viewbox="0 0 40 40" xmlns="http://www.w3.org/2000/svg" )
      use(xlink:href=site.baseURL+"assets/svg/sprites.svg#github")