header.site-header
  a.overlay.bold-hover(href=site.baseURL)
    span.delayedFade Nick Dolf
    span.svg-container.delayedHide
      include /components/logo
    strong.delayedShow(aria-hidden=true) Nick Dolf

  a.bold-hover(href=site.baseURL+"about") 
    span About
    strong(aria-hidden=true) About

