div.card {
  padding: 16px;

  width: auto;
  border-radius: 1rem;

  &:hover {
    transition: box-shadow 1s;
    box-shadow: 0px 0px 8px 4px $accent1;

    img {
      transform: translate(0, calc(-100% + 400px));
    }
  }

  .image-container {
    background: white;
    overflow: hidden;
    width: auto;
    height: 400px;

    img {
      transition: transform 3s ease-in-out;
      width: 100%;
      height: auto;
    }
  }

  .text-container {
    width: auto;
  }

  svg {
    float: right;
    margin-left: 1rem;
    fill: $charcoal;
    height: 50px;
    width: 50px;
  }

  .not-visible {

    display: none;
  }

  .pill {
    padding: 4px 14px;
    border-radius: 2rem;
    font-size: 1.4rem;
    background-color: #ffa62b;
    color: black;
    font-weight: bold;
  }

  .skill-container {
    margin-top: 8px;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    a {
      font-size: 0;
    }
  }
}
