include ../components/button-primary

header.bg-dark.text-white.sticky-top.rounded-top.mt-1 
  .row.py-2.px-4
    nav.col.p-0
      h2.m-0
        a.link-light(href= site.baseURL + "admin/") Dashboard
        span /
        a.m-2.link-light(href= site.baseURL + path)= title

    p.m-0.col.border.rounded.text-info.overflow-auto(style="height: 60px;" id="output") ...
