header.bg-dark.text-white.sticky-top.rounded-top.mt-1 
  div.row.py-2.px-4
    nav.col.p-0
      h2.m-0
        a.link-light(href= site.baseURL + "admin/dashboard") Dashboard
        span /
        a.m-2.link-light(href= site.baseURL + path)= title
    div.col.border.rounded
      p.text-success Console