include /admin/components/button-primary

.py-2
  .row.bg-secondary.py-2.px-4
    .col-md
      h3.text-white Sections

    .col-md
      // Template Selection
      .input-group
        select.form-select#select-template
          for section in site.sections
            option(value=`${section}-template`)= section

        +button-primary('Add Section', 'section-add')
