.py-2.px-4.bg-dark.rounded-bottom.border-top
  .row
    .col
      +button-primary('View Published', "", "binoculars")
      span.mx-2
      +button-primary('Publish Draft', "", "pencil-square")

    .col
      +button-primary('View Draft', "view-draft", "binoculars")
      span.mx-2
      +button-primary('Save Draft', "page-draft-update", "save2")

    // Template Selection
    .col.input-group
      select.form-select#select-template
        for section in site.sections
          option(value=`${section}-template`)= section

      +button-primary('Add Section', 'add-section')

// Templates
for section in site.sections
  template(id=`${section}-template`)
    +#{section}({}, "qq0q", "bg-info")
