ul.list-group-flush.accordion-body
  li.list-group-item.d-flex.align-items-start.justify-content-between
    input(type="text" name="sections[0][type]" value="text" hidden)
    textarea.form-control.col-10(name="sections[0][text]" rows=8)
      = content